.home{
    width: 100%;
    height: 100vh;
}
.home h1{
    font-size: 60px;
}
.home-button{
    background-color:rgb(235, 14, 14);
    border-radius: 5px;
    color: white !important;
    font-weight: bold;
    border: none;
    outline: none;
}